doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Inscription 
        form(action="/inscription", method="post")
            p
                label Nom 
                    input(type="text", name="lastname")
            p
                label Prénom 
                    input(type="text", name="firstname")
            p
                label Email
                    input(type="email", name="email")
            p
                label Téléphone 
                    input(type="phone", name="phone")
            p
                button(type="submit") S'inscrire