doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        p 
        | 	Votre inscription a bien était reçu<br /><br />
        | Voici le récapitulatif de vos informations<br />
        | 👤 Nom : #{lastname} #{firstname}<br />
        | 📧 Email : #{email}<br />
        | 📱 Téléphone : #{phone}<br />
        | L'équipe de super-site.com vous remercie <br />